extends layout

block scripts
  script(src="../js/companies.js")

block content
  div
    h1 Company List   
  div
    table(class='table' class='table-striped')
      tbody
        tr
          th Company Name
          th Symbol
          th Related Companies
          th Update
          th Delete
        each company, i in companies
          tr
            td #{company.company_name}
            td
              a(href='https://finance.google.com/finance?q='+company.ticker_symbol) #{company.ticker_symbol}
            td #{company.related_companies}
            td
              a(href='update?company_id='+company.company_id) Update
            td
              a(href='delete?company_id='+company.company_id) Delete
  a(href='create') Add company
      
  
