.container {
    padding-top: 20px;
}

.table-title {
    display: table;
    padding-bottom: 20px;
}
.center-vertical-left{
    width: 300px;
}
.center-vertical-right{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 100%;
}
